body {
    background-color:black;    
}

.title {
    font-family: 'Didact Gothic';
    color: white; 
    margin: 1.5em;
    font-size: 4em;
}

#quote {
    margin: 6% 0% 6% 0%;
    padding: 2em 1em 2em 1em;
    font-size: 2em;
    margin-right: auto;
    margin-left: auto;
    background-color: lightgrey;
}

.btn {
    padding: 1em 1em 1em 1em;
    font-size: 1.5em;
}